<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<html>
    <body>
        <div id="sentinelsRandomizer">
            <br />
            <h3>Setup randomizer for <i>Sentinels of the Multiverse: Definitive Edition</i></h3>
            <span>How many heroes?
                <select v-model="count">
                    <option>Three</option>
                    <option>Four</option>
                    <option>Five</option>
                    <option>Surprise me</option>
                </select>
            </span>
            <br />
            <div>
                Select Sets:
            </div>
            <div v-for="set in sets">
                <input type="checkbox" v-model="set.include" />
                <label>{{ set.name }}</label>
            </div>
            <div v-if="showSetup">
                <h4>Heroes:</h4>
                    <div v-for="(player, index) in players">
                        Player {{ index + 1 }}: {{ player }}
                    </div>
                <h4>Villain:</h4>
                {{ villain }}
                <h4>Environment:</h4>
                {{ environment }}
            </div>
            <div>
                <br />
                <button v-if="!showSetup" @click="getSetup">
                    Get Setup
                </button>
                <button v-if="showSetup" @click="getSetup">
                    Get a New Setup
                </button>
            </div>
            <p> {{ errorMessage }}</p>
        </div>
    </body>
</html>

<script>
var app = new Vue({
    el: "#sentinelsRandomizer",
    data: {
        players: [],
        villain: '',
        environment: '',
        count: 'Surprise me',
        showSetup: false,
        errorMessage: '',
        sets: [
            {
                name: "Sentinels of the Multiverse",
                heroes: ["Legacy","The Wraith","Bunker","Tachyon","Absolute Zero","Unity","The Argent Adept","Fanatic","Captain Cosmic","Tempest","Haka","Ra"],
                villains:  ["Baron Blade", "Mad Bomber Blade", "Citizen Dawn", "Sunrise Citizen Dawn", "Grand Warlord Voss", "Censor", "Omnitron", "Cosmic Omnitron", "The Matriarch", "The MOCKtriarch", "Akash'Bhuta", "Akash'Mecha"],
                environments: ["Megalopolis", "Freedom Tower", "Insula Primalis", "Magmaria", "The Ruins of Atlantis", "Wagner Mars Base"],
                variants: {},
                include: true
            },
            {
                name: "Rook City Renegades",
                heroes: ["Nightmist", "Mister Fixer", "Setback", "Expatriette", "The Harpy", "Alpha"],
                villains: ["Gloomweaver", "Soultaker Gloomweaver", "The Organization", "The Bear (The Oranization)", "The Fey-Court", "War-Girded Dagda and Morrigan", "Kismet", "Empowered Kismet", "Spite", "Abomination Spite", "Plague Rat", "Dr. Toxica (Plague Rat)", "Ambuscade", "Vainglorious Ambuscade", "The Terrorform", "The Terrorfrom Mark III", "Apex", "Blood-Leashed Apex"],
                environments: ["Rook City", "Pike Industrial Complex", "Diamond Manor", "The Temple of Zhu Long", "The Realm of Discord"],
                variants: {
                    "Alpha": ["Reporter Alpha", "Alpha 2000"],
                    "Nightmist": ["Dark Watch Nightmist", "Mentor Nightmist"],
                    "Mister Fixer": ["Dark Watch Mister Fixer", "Black Fist"],
                    "Setback": ["Dark Watch Setback", "Fey-Cursed Setback"],
                    "The Harpy": ["Dark Watch Harpy", "Blood Raven Harpy"],
                    "Expatriette": ["Dark Watch Expatriette", "Eclipse (Expatriette)"],
                    "Ra": ["Backdraft Ra"],
                    "Haka": ["Werewolf Haka"],
                    "Unity": ["Scavenger Unity"],
                    "The Wraith": ["Detective Wraith"],
                    "Bunker": ["Stealth Suit Bunker"],
                    "Fanatic": ["Haunted Fanatic"]
                }
            },
            {
                name: "Disparation",
                heroes: ["Chrono-Ranger", "Darkstrife/Painstake", "Omnitron-X", "K.N.Y.F.E.", "Parse", "The Visionary"],
                villains: ["Apostate", "Extremeverse Apostate", "The Dreamer", "Mr. Jitters (The Dreamer)", "The Ennead", "Sobek (The Ennead)", "Grimm", "Harvest Lord Grimm", "Iron Legacy", "Legacy of Destruction", "La Capitan", "La Capita: Sliver of Creation", "Miss Information", "Amenia Twain Kidnapped", "Necrosis", "Smog-Husk Necrosis", "The Ruler of Aeternus", "Aeturnus Incarnate"],
                environments: ["The Tomb of Anubis", "Silver Gulch, 1883", "The Final Wasteland", "Aeturnus", "The Block"],
                variants: {
                    "Legacy": ["America's Boldest Legacy"],
                    "The Wraith": ["Freedom Six Wraith"],
                    "Bunker": ["Freedom Six Bunker"],
                    "Tachyon": ["Extreme Tachyon", "Freedom Six Tachyon"],
                    "Absolute Zero": ["Frostbite (Absolute Zero)", "Freedom Six Absolute Zero"],
                    "Unity": ["Freedom Six Unity"],
                    "The Argent Adept": ["The Ashen Heir (Argent Adept)"],
                    "Fanatic": ["Redeemer Fanatic"],
                    "Captain Cosmic": ["Inversiverse Captain Cosmic"],
                    "Tempest": ["Shockwave (Tempest)", "Freedom Six Tempest"],
                    "Haka": ["The Etenal Haka"],
                    "Ra": ["Ra, Horus of Two Horizons"],
                    "Chrono-Ranger": ["Chrono-Ranger, Tengu-Hunter", "Wind-Walker (Chrono-Ranger)"],
                    "Darkstrife": ["Prince Darkstrife", "Soulseeker Darkstrife"],
                    "Painstake": ["Painstake the Betrayer", "Soulseeker Painstake"],
                    "K.N.Y.F.E.": ["Fighting Spirit K.N.Y.F.E.", "K.N.Y.F.E., Rogue Agent"],
                    "Omnitron-X": ["Omni-Chan", "Omnitron-U"],
                    "Parse": ["Spacefarer Parse", "Terminarch Parse"],
                    "The Visionary": ["Dark Visionary", "The Fishionary"]
                }
            }
        ]
    },
    methods: {
        randomize: function(array) {
            return array[Math.floor((Math.random() * array.length))]
        },
        getSetup: function() {
            this.errorMessage = ''
            if (!this.sets.find(e => e.include)) {
                this.errorMessage = 'Please select at least one set'
                return
            }
            var count = this.randomize([3,4,5])
            if (this.count === "Three") { count = 3 }
            if (this.count === "Four") { count = 4 }
            if (this.count === "Five") { count = 5 }
            var players = []
            this.players = []
            var heroes = this.getHeroes()
            while (players.length < count) {
                var player = this.randomize(heroes)
                if (!players.includes(player)) {
                    players.push(player)
                }
            }
            players.forEach(p => {
                this.players.push(this.getVariant(p))
            })
            this.villain = this.getVillain()
            this.environment = this.getEnvironment()
            this.showSetup = true
        },
        getHeroes: function() {
            var result = []
            this.sets.forEach(s => {
                if (s.include) {
                    result = result.concat(s.heroes)
                }
            })
            return result
        },
        getVariant: function(hero) {
            if (hero === "Darkstrife/Painstake") {
                var heroes = hero.split("/")
                var variants = []
                for (var i = 0; i < heroes.length; i++) {
                    variants[i] = this.getVariant(heroes[i])
                }
                var result = variants[0]
                for (var i = 1; i < variants.length; i++) {
                    result += " / " +variants[i]
                }
                return result
            }
            var variants = [hero, `First Appearance ${hero}`]
            this.sets.forEach(s => {
                if (s.include && s.variants[hero]) {
                    variants = variants.concat(s.variants[hero])
                }
            })
            return this.randomize(variants)
        },
        getVillain: function() {
            var villains = []
            this.sets.forEach(s => {
                if (s.include) {
                    villains = villains.concat(s.villains)
                }
            })
            var result = this.randomize(villains)
            if (result === "Amenia Twain Kidnapped") {
                result += " by " + this.getVillain()
            }
            if (result.includes("Amenia Twain Kidnapped by Amenia Twain Kidnapped")) {
                return this.getVillain()
            }
            return result
        },
        getEnvironment: function() {
            var envs = []
            this.sets.forEach(s => {
                if (s.include) {
                    envs = envs.concat(s.environments)
                }
            })
            return this.randomize(envs)
        }
    }
})

</script>
